*{
    margin: 0;
    padding: 0;
}
.sampleTxt{
    color: aqua;
    background-color: black;
}
.container{
    text-align: center;

}
/* .txtclr
{
    border: 2px solid black;
    padding: 15px;
    margin: 5px;
} */